<!-- Login Form -->

<h2>Log In</h2>
<form action="/login" method="post">
  <label for="">User Name</label>
  <br>
  <input placeholder="User name" type="text" name="username">
  <br>
  <label for="">Your Password</label>
  <br>
  <input placeholder="Your password" type="password" name="password">
</form>

<div class="entrar">
      
  <div class="divider2"></div>
  <h6>OR</h6>
<div class="divider"></div>
  <button class="loginBtn loginBtn--facebook">
    Login with Facebook
  </button>
    <br>
  <button class="loginBtn loginBtn--google">
    Login with Google
  </button>
    <br>

  <span>New user?</span>
  <a href="/signup">Sign Up</a>
</div>