<!-- Sign Up Form -->

<h2>Sign Up</h2>
<p>Create an Account</p>
<form action="">
  <label for="">User Name</label>
  <br>
  <input placeholder="Pick a username" type="text" name="username">
  <br>
  <label for="">Email</label>
  <br>
  <input placeholder="you@example.com" type="text" name="email">
  <br>
  <label for="">Password</label>
  <br>
  <input placeholder="Create a password" type="password" name="password">
  <br>
  <label for="">Confirm Password</label>
  <br>
  <input placeholder="Confirm password" type="password" name="confirm-password">
  <br>
  <button class="btn-create-account">
    Create My Account
  </button>
</form>
<span>Already registered? </span>
<a href="/login">Log In</a>

