<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
<!-- nav bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://localhost:3000/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:3000/view-events">Browse Events<span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/new">Create Event</a>
        </li>
      </ul>
      <span class="navbar-text">
    
  <button type="button" class="btn btn-dark"><a  class="bb" href="./login">Login</a></button>
  <button type="button" class="btn2 btn-dark"><a class="bb"  href="./signup">Sign Up</a></button>

      </span>
    </div>
  </nav>
<!-- nav bar -->

  <body>
    <%- body %>
  </body>
</html>
