<div class="first-bg">
<h1 class="becomea">Become a Padrino</h1>
<h2 class="wel-to">Welcome to <br> Padrinos App</h2>

<p class="lorem">not just an event planner<br>
   meet people near you and party together <br>
   Be a Padrino<br>
</div>