<h2 class="guest-prof">guest profile: Andrei</h2>

<img class="guest" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBa6DAHfU2MzBPob6gAQiQKMkjH2L6E_grJm4JhQe2zOJWjGrP" alt=""> 

<ul class="therd">
<li>My Name:  </li>
<li>My Town: MEXICO CITY</li>
<li>Current Status: Party Hard!</li>
<li>Padrino Since : 2016</li>
 </ul>


 <h2 class="att">Andrei is atending:</h2>

 <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBa6DAHfU2MzBPob6gAQiQKMkjH2L6E_grJm4JhQe2zOJWjGrP" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>