<!-- <h1><%= title %></h1>
<p>Welcome to <%= title %></p> -->
<h1>Become a Padrino</h1>
<h2>Welcome to Padrinos App</h2>




<button class="btn-1"><a href="./login">Login</a></button>
<button class="btn-2"><a href="./signup">Sign up</a></button>

</div>