<!-- <h1><%= title %></h1>
<p>Welcome to <%= title %></p> -->


<h1>Become a Padrino</h1>
<h2>Welcome to <br> Padrinos App</h2>

<p class="lorem">At vero eos et accusamus et iusto odio dignissimos<br>
   ducimus brqui blanditiis <br>
   deleniti atque corrupti quos dolores et<br>
    quas molestias excepturi <br>
     provident, similique sunt in culpa qui<br>
      officia deserunt mollitia animi, id est laborum et. <br>

      <img class="home" src="https://media.mobilerving.com/mobilerving/blog_image/resize/details/1497637471_blog_image.jpg" alt="" width="560px"; height="370px;">


  <button type="button" class="btn btn-dark"><a href="./login">Login</a></button>
  <button type="button" class="btn2 btn-dark"><a href="./signup">Sign Up</a></button>






</div>