<!-- <h1><%= title %></h1>
<p>Welcome to <%= title %></p> -->


<h1 class="becomea">Become a Padrino</h1>
<h2 class="wel-to">Welcome to <br> Padrinos App</h2>

<p class="lorem">At vero eos et accusamus et iusto odio dignissimos<br>
   ducimus brqui blanditiis <br>
   deleniti atque corrupti quos dolores et<br>
    quas molestias excepturi <br>
     provident, similique sunt in culpa qui<br>
      officia deserunt mollitia animi, id est laborum et. <br>

      <img class="home" src="http://valuhomecenters.com/wp-content/uploads/2016/06/AdobeStock_58892713.jpg" alt="" width="650px"; height="370px;">

<!-- 
  <button type="button" class="btn btn-dark"><a href="./login">Login</a></button>
  <button type="button" class="btn2 btn-dark"><a href="./signup">Sign Up</a></button> -->






</div>