<!DOCTYPE html>
<html>
  <head>
    <title>Invite Guests</title>
  </head>
  <body>
      <h2>Create Guest List</h2>
      <p class="dear">Dear Padrino</p>
      <label  class="e-l" for="">Guest List</label>
      <br>
      <form action="/invite-guests/<%=event%>" method="POST">
      <span onclick="addLine()"><i class="fas fa-plus"></i></span><span onclick="removeLine()"><i class="fas fa-trash-alt"></i></span>
      <ul id="item-list" style="list-style:none;">
      <li><input placeholder="Guest Name" type="text" name="name" required><input placeholder="E-mail" type="text" name="email" required></li>
      </ul>
      <button type="submit">Next</button>
      </form>
      <script type="text/javascript">
        var addLine = function(){
            var el = document.createElement('li');
            el.innerHTML = '<input placeholder="Guest Name" type="text" name="name" required><input placeholder="E-mail" type="text" name="email" required>';
            document.getElementById('item-list').appendChild(el);
        }
        var removeLine = function(){
            var list = document.getElementById('item-list')
            list.removeChild(list.childNodes[0]);
        }
      </script>
  </body> 
</html>
