<!DOCTYPE html>
<html>
  <head>
    <title>Add items for your padrinos</title>
  </head>
  <body>
      <h2>Create Event list</h2>
      <p class="dear">Dear Padrino</p>
      <label for="">Event List</label>
      <br>
      <ul style="list-style:none">
        <li class="line-item">
        <i class="fas fa-plus"></i><i class="fas fa-trash-alt"></i><input placeholder="add your item" type="text">
        </li>
      </ul>
  </body> 
</html>


