<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
      #map {
       height: 350px;
       width: 50%;
      }
   </style>
 </head>
 <body>
 <h2 class="createh2">Create your Event</h2>
 <form class="form3" action="/new" method="POST">
   <label for="">Event Title</label>
   <br>
    <input type="text" name="eventTitle">
     <div class="form-group">
      <label for="exampleFormControlSelect1">Event type</label>
      <select class="form-control" id="exampleFormControlSelect1" name="eventCategory">
        <option>Birthday Party</option>
        <option>BBQ</option>
        <option>XV años</option>
        <option>Celebration Party</option>
        <option>Surprise Party</option>
      </select>
    </div>
   <label for="">Enter Event Location</label> 
   <br>
   <input id="search" type="text" placeholder="put your adress" name="location">
   <div id="map"></div>
   <div id="locationField">
     <br>
     <div class="custom-control custom-radio">
        <input type="radio" id="radio3" name="radioDisabled" id="customRadioDisabled" class="custom-control-input" disabled>
        <label class="custom-control-label" for="customRadioDisabled">Click if your event It's private</label>
      </div>
   <br>
   <label for="">Starts</label>
   
   <input type="date" name="usr_time">
   <br>
   <label for="">Ends</label>
   <input type="time" name="endDate">
   <input id="date" type="date">
   <button type="submit">Set</button>
   <br>
   <label for="">Event Photo </label>
   <br>
    <input type="file" name="photo">
      <br>
       <div class="form-group">
      <label for="exampleFormControlTextarea1">Enter a brief description of your event</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <input type="submit">
  </form>




    <!-- API -->
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYJX1F4hEQMcbWEAn_AH_giXPvSUMqSIw&libraries=places">
  </script>
    <script type="text/javascript" src="javascripts/app.js"></script>    
    </form>
    </div>  <!--  -->
  </body>
</html>

