
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
      #map {
       height: 350px;
       width: 50%;
      }
   </style>
 </head>
 <body>
 <h2 class="createh2">Create your Event</h2>
 <img class="de-Perfil" src="<%= user.picPath %>"/>

 <form class="form3" action="/new" method="POST" enctype="multipart/form-data">
   <label for="">Event Title</label>
   <br>
    <input type="text" name="eventTitle">
     <div class="form-group">
      <label for="exampleFormControlSelect1">Event type</label>
      <select class="form-control" id="exampleFormControlSelect1" name="eventCategory">
        <option>Birthday Party</option>
        <option>BBQ</option>
        <option>XV años</option>
        <option>Celebration Party</option>
        <option>Surprise Party</option>
      </select>
    </div>

   <label for="">Enter Event Location</label> 
   <br>
   <input id="search" type="text" placeholder="put your adress" name="location">
   <div id="map"></div>
     <br>
  
   <label for="">Starts</label>
   <input class="date" type="date" name="startDate">
   <input type="time" name="startTime">
   <br>
   <label for="">Ends</label>
   <input type="date" name="endDate">
   <input type="time" name="endTime">
   <br>
   <label for="">Event Photo </label>
    <input type="file" name="photo">
      <br>
       <div class="form-group">
      <label for="exampleFormControlTextarea1">Enter a brief description of your event</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="eventDescription"></textarea>
    </div>
    <button  class="next"type="submit">Next Step</button>
  </form>

  <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPiclg0dXpI2je8JgdCkrQBlKGvUrWSWY&libraries=places">
</script>
    <script type="text/javascript" src="javascripts/app.js"></script>
  </body>
</html>  

