<h2>Create your Event</h2>


<div class="create-event">
<form class="new-event" action="">
 
  

    <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationTooltip03">City</label>
          <input type="text" class="form-control" id="validationTooltip03" placeholder="City" required>
          <div class="invalid-tooltip">
            Please provide a valid city.
          </div>

          <select class="custom-select">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>

        </div>
        <div class="col-md-3 mb-3">
          <label for="validationTooltip04">State</label>
          <input type="text" class="form-control" id="validationTooltip04" placeholder="State" required>
          <div class="invalid-tooltip">
            Please provide a valid state.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="validationTooltip05">Zip</label>
          <input type="text" class="form-control" id="validationTooltip05" placeholder="Zip" required>
          <div class="invalid-tooltip">
            Please provide a valid zip.
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Submit form</button>




  <div class="custom-file">
      <input type="file" class="custom-file-input" id="customFile">
      <label class="custom-file-label" for="customFile">Choose file</label>
    </div>






</form>
</div>  <!--  -->
