<%if (user.picPath) {%>
  <!-- <img class="profile-photo" src=<%= user.photo%> alt=""> -->
  <img class="dePerfil" src="<%= user.picPath %>"/>
<%} else {%>
  <img class="dePerfil" src="<%= user.picPath %>"/>
  <%}%>

<div class="about-me">
  <ul class="snd">
<li>Your Name: <%= user.username %> </li>
<li>Your Town: MEXICO CITY</li>
<li>Current Status: Party Hard!</li>
<li>Padrino Since : 2016</li>
  </ul>
</div>

<div>
  <p class="upcoming">Your Events </p>
</div>
      
   



  